.account-box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.account-cont {
    width: 400px;
    background: #e8f0ff;
    padding: 50px;
    border-radius: 5px;
}